body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial;
  background: #fff;
  padding: 12px;
  font-size: 12px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tit-download { font-weight: bold; }
.list-download { width: 100%; }
.list-download li { display: table; }
.list-download li > span {
  display: table-cell;
  vertical-align: middle;
  height: 57px;
  border-bottom:1px solid #bababa;
}
.list-download li:last-child > span { border: none; }
.list-download .col-1 { width: 43px; }
.list-download .col-2 {
  min-width: 240px;
  padding-left: 8px;
  padding-right: 5px;
  color: #000;
  word-break: break-all;
}
.list-download .col-3 { width: 98px; }
.list-download .btn-download {
  border: 1px solid green;
  padding: .4em;
  background-color: green;
  color: white;
  border-radius: .25em;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.text {
  font-weight: bold;
  width: 255px;
  padding-left: 35px;
  line-height: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}
